.petsNear{
    text-align: center;
    
}

.petsHeading{
    background-color: #DDD0CB;
    color: #373029;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
}
.petsFrame{
    background-color: #373029;
    height: fit-content;
}

.petsFrameIcon{
    height: 200px;
    object-fit: cover;
    width: 180px;
    position: relative;
    border-radius: 30px;
    padding: 20px;
    transition: transform 0.5s ease-in-out;
}