.formMain{
    height: 800px;
    width: 100%;
    background-color: #DDD0CB;
    display: flex;
    background: url('../images/formbg.png');
}
.mainBody{
    margin: auto;
    background-color: #373029;
    text-align: center;
    height: 100%;
    width: 600px;
    border-radius: 50px;
    justify-content: center;
}
.formHeading{
    margin: 20px;
    color: #DDD0CB;
    background-color: #373029;
    font-size: 30px;
    font-weight: 900;
}
.formBody{
    box-sizing: border-box;
    padding: 40px;
    width: 90%;
    height: 75%;
    backdrop-filter: brightness(70%);
    flex-direction: column;
    display: flex;
    gap: 5px;
    margin: 20px auto 0px auto;
}

.formLabel{
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 2px;
    padding-left: 10px;
}
.formInput{
    background: #DDD0CB;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    padding: 0px 20px;
    border: none;
    margin-bottom: 20px;
    color: white;
}
.comment{
    background-color: #DDD0CB;
    color: #373029;
    border-radius: 10px;
}
.formBtn{
    border-radius: 10px;
    font-size: 24px;
    padding: 15px 30px;
    background-color: #DDD0CB;
    color: #373029;
    margin: 30px ;
}